.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.parquet
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.txt
data-analyst-agent/*.csv
data-analyst-agent/*.json
data-analyst-agent/*.parquet
data-analyst-agent/tasks